name: Publish

on:
  push:
    branches:
      - 'main'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-js:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Install Mise
        uses: caido/action-mise-action@v3.2.0
        with:
          working_directory: .
          version: ${{ vars.CI__MISE_VERSION }}

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Publish
        shell: bash
        run: |
          # Read the current version from package.json
          CURRENT_VERSION=$(jq -r '.version' ./package.json)

          # Check if the version contains "-beta"
          if [[ "$CURRENT_VERSION" == *"-beta"* ]]; then
            echo "Publishing $CURRENT_VERSION as beta tag"
            pnpm --filter create-plugin -r publish --access public --tag beta
          else
            echo "Publishing $CURRENT_VERSION as latest tag"
            pnpm --filter create-plugin -r publish --access public
          fi
